/* sherd style */
main{
    width: 1280px;
    margin: 0 auto;
    background-color: rgba(241, 241, 243, 1);
}
.section-title{
    font-size: 40px;
    font-weight: 600px;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
}
.display{
    display: flex;
}


.align{
    align-items: center;
}
.gap{
    display: inline;
}
.hover-btn:hover{
    background: rgb(226, 14, 14);
    transition: width 45s;
}
.btn-banner:hover{
    background-color: #353f3c;
    color: rgb(255, 0, 0);
    transform: rotate(360deg);
}  
.btn:hover{
    background-color: #006A50;
    color: red;
}
/* banner */
.banner{
    background-color: #C6E4D6;
    border-radius: 24px;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 580px;
}
.btn-banner{
    padding: 17px 34px;
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.banner-subtitle{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
}

/* the vision of future */
.future{

    background-color: #F1F1F3;
    gap: 32px;
}
.future-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:24px;
    margin-bottom: 32px;
}
.future-card{
    padding: 32px;
    border-radius: 16px;
}
#future-card-1{
    background-color:rgba(84, 144, 245, 0.2);
}
#future-card-2{
    background-color: rgba(198, 228, 214, 1);
}
#future-card-3{
    background-color: rgba(247, 235, 207, 1);
}
.btn-card{
    padding: 11px 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.card-btn-1{
    background-color: #5490F5;
}
.card-btn-2{
    background-color: #09A15C;
}
.card-btn-3{
    background-color: #FFC239;
}
.card-title{
    font-size: 20px;
    font-weight: bold;
}
.card-description{
    font-size: 16px;
    font-weight: 400;
}
/* future section > prime-letter */
.letter-description{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left ;
    padding: 30px 0px;
}
.prime-letter{
    background-color: rgba(255, 255, 255, 1);
    padding: 48px 24px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 1);
}
/* news */

.news{
    margin: 0 auto;
    
}

.news-card{
    align-items: center;
    gap: 30px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    display: flex;
    padding: 48px;
    margin: 24px;
}
/* .card-description{
}
.news-card */
.news-img{
    border-radius: 24px;

}
.news-card-btn{
    padding: 13px 26px;
    padding: 17px 34px;
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}


/* donate */
.donate{
    /* background-color: rgba(14, 14, 14, 0.15); */
    padding: 80px 0px 20px 0px;
    text-align: center;
}
.donate-btn{
    font-size: 40px;
    font-weight: 600;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    margin: 25px;
    border-color: rgba(14, 14, 14, 0.15);
} 
/* input[type="text"] */
.text
{
    height: 46px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 1032px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.btn-donate{
    padding: 13px 26px;
    padding: 17px 34px;
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
}
/* subscribe */

.subscribe{
    text-align: center;
    background-color: rgba(198, 228, 214, 1);
    margin: 80px 0px;
    align-items: center;
    border-radius: 24px;
    padding: 80px 265px;
}
.subscribe-container{
    padding: 0px 64px 24px;
}
.subscribe-from{
}
.subscribe-text
{
    height: 46px;
    border-radius: 5px;
    background-color: white;
    padding: 10px 20px;
    width: 550px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    border-radius: 8px  0px 0px 8px;

}
.subscribe-btn{
    padding: 18px 34px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    margin-left: 0px;
    border-radius: 0px 8px 8px 0px;
    border: none;
    height: 69px;
}
/* footer */

hr{
    width: 1122px;
    color: rgba(14, 14, 14, 0.1);
    margin-top: 32px;
    margin-bottom: 32px;

}
.footer{
    text-align: center;
}
.footer-contact {
  padding: 0px 0px 50px 0px;
}
.contact-img{
    padding: 16px;
}
